.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #444444;
  align-items: flex-end;

  &__github {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__github-link {
    color: #ffffff;
    &:hover {
      color: $hoverColor;
    }
  }

  &__date {
    color: #ffffff;
  }

  &__rss-img {
    width: 100px;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
