.header {
  background-color: $bgc;

  &__nav {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__link {
    color: $mainColor;
    transition: all 0.3s ease 0s;
    &:hover{
      color: $hoverColor;
    }
  }

  &__total {
    position: absolute;
    right: -24px;
    bottom: 20px;
    min-width: 25px;
    min-height: 25px;
    padding: 2px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $bgc;
    border: 1px solid $mainColor;
    border-radius: 50%;
  }
}